node_modules/
.angular/
/lc-issue/
dist/
~*.docx
/scratchpad_out*.md
.sonartmp/
.scannerwork/
obsidian-payment-kb*/
# obsidian-balance-kb*/
lc-balance-src.tar*.*
_to_delete/
test-results/
playwright-report/
